<section>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="assets/imgs/logo/logo.png"
        alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">User Login Account
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" [formGroup]="loginFrom" >
        <div>
       
          <div class="mt-2">
            <input formControlName="email" type="email" autocomplete="email" required
              class="block w-full inputs rounded-md border-0 py-1.5"  placeholder=" Enter Email *">
              <span class="required" *ngIf="loginFrom.hasError('required', 'email')
              && loginFrom.controls['email'].dirty"> * Email is required</span>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
           
          </div>
          <div class="mt-2">
            <input formControlName="password" type="password" autocomplete="current-password" required
              class="block w-full inputs rounded-md  py-1.5 " placeholder=" Enter Password *">
              <span class="required" *ngIf="loginFrom.hasError('required', 'password')
                        && loginFrom.controls['password'].dirty"> * Password is required</span>
          </div>
        </div>

        <div>
          <button type="submit" (click)="onloginUser()"
          [disabled]="loginFrom.invalid" [class.disabled]="loginFrom.invalid"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">User Login</button>
        </div>
      </form>


      <div class="flex items-center justify-between mt-2">
        <div class="text-sm">
          <a routerLink="/user-register" class="font-semibold text-indigo-600 hover:text-indigo-500">Create an Account</a>
        </div>
        
        <div class="text-sm">
          <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
        </div>
      </div>

     
    </div>
  </div>

</section>